<div class="component-wrapper">
    <h1 class="article-title">Article title</h1>
    <div class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quidem sapiente commodi
        reiciendis omnis tempora hic est perferendis consequuntur non? Rem eos doloremque ex, perferendis culpa velit!
        Facilis asperiores omnis magni autem repudiandae, veritatis praesentium unde enim suscipit in illum fugiat culpa
        dolorem aliquam commodi, odio laboriosam. Dolore expedita sunt ad omnis officiis deleniti, voluptate laboriosam?
        Perferendis soluta libero numquam sequi natus in voluptas maxime, itaque fugiat veniam quaerat ex. Excepturi
        animi vel, vitae odit eius voluptates veritatis, labore necessitatibus amet aspernatur optio ipsa magni!
        Assumenda, quod? Voluptatem nihil obcaecati assumenda veritatis nobis pariatur laborum architecto, libero nemo
        sit consequatur recusandae voluptatum rerum corporis praesentium neque reiciendis magnam voluptas cumque
        excepturi ut. Error sed, iusto doloremque rerum quis debitis atque nemo possimus quae nostrum consequuntur quod
        sapiente numquam magni praesentium tempora cupiditate voluptas voluptatibus perferendis ex corrupti dolorum
        repellendus quia at. A ut fugiat ab consectetur ipsum esse reprehenderit incidunt voluptatem distinctio magni,
        magnam sint explicabo non natus recusandae assumenda ea hic voluptatibus sequi saepe. A excepturi itaque
        possimus, omnis neque consequuntur voluptas laudantium, alias id harum suscipit minus autem animi veritatis
        praesentium, ut expedita obcaecati facilis voluptatem nemo cupiditate. Ab dicta molestiae quis adipisci
        molestias, soluta veniam dolorem esse?</div>
    <div class="comments-section">
    </div>
    <textarea class="comment-area" rows="1" placeholder="Leave a comment" #textAreaRef
        (focusin)="onFocusInTextArea(textAreaRef)" (focusout)="onFocusOutTextArea(textAreaRef)"
        (keyup.enter)="onLeavingAComment()"></textarea>
</div>