<div class="component-wrapper">
    <h1 class="article-title">Wild Elephants</h1>
    <div class="article-content">
        <div class="article">Too many elephants are getting killed in conflicts with humans! We
            simply cannot allow them
            to
            disappear from the face of this earth. There are less than 40,000 Asian elephants in the world, fully 60% of
            them, that is 27,000 plus wander in the jungles of India. The problem is, 80% of their habitats have been
            occupied by people. In other words, people and elephants share 80% of the landmass in India.
            <br>
            <div class="spacer"></div>
            Out of the 27,000 Asian elephants in India, only an estimated 1,000 of them are bull elephants, causing
            gender disparity. A shrinking gene pool poses a serious threat to long-term species survival. Bulls with
            tusks are poached for ivory, as female Asian elephants do not have tusks. In recent years, more and more
            tuskless bulls have been documented, potentially because they escape the poachers, with a better chance of
            survival.
        </div>
        <div class="image-container">
            <img src="../../../../assets/images/jpg/wild-elephants.jpg" alt="Wild elephants">
        </div>
    </div>
    <div class="sorting-panel">
        <img src="../../../../assets/images/svg/sort-up.svg" [matMenuTriggerFor]="ascMenu" alt="sort-asc-icon">
        <mat-menu #ascMenu="matMenu">
            <button mat-menu-item (click)="onSortComments(sortingEnum['By replies ascending'])">
                {{sortingEnum[0]}}
            </button>
            <button mat-menu-item (click)="onSortComments(sortingEnum['By date ascending'])">
                {{sortingEnum[2]}}
            </button>
        </mat-menu>
        <img src="../../../../assets/images/svg/sort-down.svg" [matMenuTriggerFor]="descMenu" alt="sort-desc-icon">
        <mat-menu #descMenu="matMenu">
            <button mat-menu-item (click)="onSortComments(sortingEnum['By replies descending'])">
                {{sortingEnum[1]}}
            </button>
            <button mat-menu-item (click)="onSortComments(sortingEnum['By date descending'])">
                {{sortingEnum[3]}}
            </button>
        </mat-menu>
    </div>
    <div class="comments-section">
        <app-comment *ngFor="let comment of comments" [comment]="comment" (commentIdEmmitter)="onDeleteComment($event)"
            (deletedCommentIdEmmitter)="onRestoreComment($event)" (editCommentIdEmmitter)="onEditComment($event)"></app-comment>
    </div>
    <textarea class="comment-area" rows="1" placeholder="Leave a comment" #textAreaRef
        (focusin)="onFocusInTextArea(textAreaRef)" (focusout)="onFocusOutTextArea(textAreaRef)"
        (keyup.enter)="onPushComment()"></textarea>
</div>