<div class="component-wrapper" #commentRef>
    <div class="avatar">
        <img [src]="comment?.avatar" alt="">
    </div>
    <div class="comment-container">
        <div class="username-and-timestamp-container">
            <div class="username">{{comment?.username}} <span
                    *ngIf="comment?.parentCommentId === CLIENT_HEAD_COMMENT_ID" class="author-label">/author/</span>
            </div>
            <div class="label-wrapper">
                <div class="comment-timestamp">{{comment?.timestamp | date: 'MMM d, y, h:mm:ss a'}}</div>
                <div *ngIf="comment?.isEdited" class="edited-label">Edited</div>
            </div>
            <div *ngIf="comment?.userId === CLIENT_ID" [matMenuTriggerFor]="appMenu" #optionsMenuIconRef
                class="options-menu-icon">
                <img src="../../../../../../assets/images/svg/three-dots.svg" alt="options-menu-icon">
            </div>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item class="menu-btn" (click)="onDeleteComment(comment.id)">
                    <img src="../../../../../../assets/images/svg/delete-btn-icon.svg" />
                    <div class="menu-btn-text-wrapper">Delete
                        comment</div>
                </button>
                <button mat-menu-item class="menu-btn" (click)="onEditComment(comment.id)">
                    <img src="../../../../../../assets/images/svg/edit-btn-icon.svg" />
                    <div class="menu-btn-text-wrapper">Edit
                        comment</div>
                </button>
            </mat-menu>
        </div>
        <div class="text-container">{{comment?.text}}
            <button *ngIf="comment?.isDeleted" class="undo-btn" (click)="onRestoreComment(comment.id)">Undo</button>
        </div>
    </div>
</div>