.component-wrapper {
  display: flex;
  align-items: center;
  margin: 1.5rem 0rem;
  width: fit-content;
  padding-left: 2rem;
}
.avatar {
  min-width: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  border: none;
  margin-right: 1rem;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comment-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  width: fit-content;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  box-shadow: 4px 4px 6px -2px gainsboro;
}
.username-and-timestamp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.username-and-timestamp-container .username {
  font-weight: 600;
  margin-right: 3.5rem;
}
.author-label {
  font-size: 0.75rem;
  margin-left: 0.25rem;
}
.label-wrapper {
  display: flex;
  align-items: center;
}
.username-and-timestamp-container .comment-timestamp {
  margin-right: 0.5rem;
}
.edited-label {
  font-weight: 600;
}
.text-container {
  word-break: break-all;
}
.options-menu-icon {
  position: absolute;
  right: -1rem;
  top: -1.5rem;
  cursor: pointer;
  display: none;
  background-color: #fff;
}
.options-menu-icon img {
  border-radius: 0.375rem;
  box-shadow: 1px 2px 4px 1px gainsboro;
}
.menu-btn {
  display: flex;
  align-items: center;
}
.menu-btn-text-wrapper {
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  font-size: 0.75rem;
}
.undo-btn {
  margin-left: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  color: #5b5fc7;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.undo-btn:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .username-and-timestamp-container {
    flex-wrap: wrap;
  }
  .comment-timestamp {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .text-container {
    margin-top: 0.5rem;
  }
}
